*{
    margin: 0px;
    padding: 0px;
}

                /* nav section added for bonus section purpose  */


nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    align-items: center;
    padding: 20px;
}
nav > ul{
    display: flex;
    justify-content: space-around;
}
nav li{
    list-style: none;
    margin-right: 45px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 100;
}
.nav_title{
    font-size: 45px;
    font-family: Lato;
    color: white;
    font-weight: bolder;
    margin-left: 50px;
}
.logo{
    color: #E55473;
}

                  /* Banner Section  */


.mainbanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 70px 97px 0px 200px;
}
.banner_h2{
    font-size: 60px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 32px;
}
.banner_p{
    font-size: 18px;
    margin-bottom: 32px;
    font-weight: 400;
    color: #27272799;
}
.btn{
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 8px;
    background: #E55473;
    color: white;
}
.banner_pic{
    padding-top: 50px;
    padding-right: 200px;
    width: 500px;
    height: 600px;
}

                    /* section_1  */


.section_title{
    text-align: center;
    padding: 100px 0px 0px 0px;
}
.section_1_h3{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.section_1_p{
    font-size: 18px;
    font-weight: 400;
    color: #27272799;
    margin-bottom: 30px;
}

                        /* section_2   */


.folower123{
    display: flex;
    justify-content: space-around;
    padding: 20px 200px 0px 200px;
}
.flower1{
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
}
.flower2{
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
}
.flower3{
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
}
.flower{
    padding: 60px 50px 0px 50px;
    width: 250px;
    height: 350px;
}

                            /* section_3   */


.section_3{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    border: 2px solid #2727270D;
    /* padding: 00px 200px 0px 200px; */
    margin: 50px 200px 0px 200px;
}
.services{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 80px;
}
.servicecontainer{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
}
.service_img{
    margin-bottom: 20px;
}
                         /* section_4  */


.section_4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 50px;
    padding: 100px 250px 100px 250px;
}
.hot_deal_h3{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.hot_deal_p{
    font-size: 18px;
    font-weight: 400;
    color: #27272799;
    margin-bottom: 24px;
    text-align: center;
}
.hot_deal_btn{
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    margin-left: 200px;
}
.off_red{
    color: #E55473;
}
                          /* section_5  */


.section_5{
    
       }
.section_5_img{
    display: flex;
    justify-content: space-around;
    margin: 50px 200px 50px 200px;
}
.img_1{
    margin-right: 20px;
    width: 250px;
}

                            /* section_6  */


.section_6{
    background-image: url('../images/Rectangle\ 9.png');
    margin: 50px 200px 50px 200px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    border-radius: 8px;
}
.email{
    width: 400px;
    height: 54px;
    border-radius: 8px;
    background: #FFF;
}
::placeholder{
    color: #27272799;
    font-size: 16px;
    padding: 15px;
}

                            /* footer section  */


footer{
    background-color: black;
    height: 300px;
    text-align: center;

}
.footer_p{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFFE5;
}
.footer_p1{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}